:root {
    --primary-font-size: 14px;
    --font-sixi-h2: 24px;
    --primary-color: #23A6F0;
    --light-color: #fff;
    --text-color-h3: #252B42;
    --text-color-description: #737373;
    --font-weigth-text: 400;
    --font-weigth-text-bold: 700;
}

* {
    box-sizing: border-box;
}

body, h1, h2, h3, ul, ol, p, div, hr {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}